input, a {
    display: block;
}

input[type=password] {
    background-color: red;
}

input[type=usuario] {
    background-color: green;
}

/*selecionar noticia que contem palavra específica*/

a[href*=palmeiras] {
    background-color: aqua;
}

/*elementos vazios (sem conteúdo)*/

div {
    margin: 20px;
}

div:empty {
    display: none;
}

/*selecionar primeira letra de cada paragrafo*/

p::first-letter {
    font-size: 30px;
    font-weight: bold;
    color: red;
}

/*seletor negativo - para selecionar todos menos o negativo*/

body ::not(p) {
    background-color: blueviolet;
}

/*seletor de itens específicos em qualquer ordem*/

div:nth-child(2) {
    background-color: bisque;
}

/* before e after */
span:after {
    font-size: 60px;
    color: yellow;
    text-align: center;
}

span:before{
    font-size: 20px;
    color: yellowgreen;
    text-align: end;
}



/*ELEMENTOS PARA REDIMENSIONAMENTO DE ELEMENTOS*/

div .retangulo {
    background-color: blue;
    width: 100px;
    height: 100px;
    margin: auto;
    transform: scale(1, 3);
    box-sizing: content-box;
}

/*border box é o tamanho maximo do elemento na tela, somando todos os espaçamentos daquele elemento*/


/*estilizando place holder*/

.input {
    width: 100px;
    height: 100px;
    font-size: 20px;
    color: #c3c3c3;
}

.input {
    color: #00FF00;
}




